@font-face {
  font-family: algerian;
  src: url(/fonts/algerian.ttf);
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
}
.cabeçalho {
  background-color: #f5f5f5;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 6px #dcdcdc;
}
.logo {
  width: 200px;
  margin: 8px;
}
.logod {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navegaçao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px;
}
.voltar img {
    width: 70px;
}
.corpo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noticia {
    width: 90%;
    padding: 30px;
    font-size: 18px;
    border-radius: 20px;
}
.noticia h2 {
    color: #060440;
}
.noticia img {
    width: 70%;
}
.rodape {
  background-color: #f5f5f5;
  padding: 40px 20px;
  width: 100%;
  margin: -8px;
  box-shadow: 0px 0px 6px #dcdcdc;
}

.footer-container {
  width: 100%;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.social,
.contato2 {
  flex: 1 1 250px;
  min-width: 250px;
  justify-items: center;
  flex-direction: column;
}
.contato2 a {
  color: #060440;
}
.empresa {
  flex: 1 1 250px;
  min-width: 250px;
  display: flex;
  justify-content: center;
}
.empresa img {
  width: 150px;
}
.social a {
  display: flex;
}
.social img {
  width: 40px;
  height: auto;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.direitos {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #060440;
  font-size: 14px;
}